{% extends 'blog/base/base_blog.html' %}
{% load static %}

{% block title %}
    <title>Home</title>
    <link rel="icon" type="image/jpg" href="{% static 'blog/images/prosenjit.jpg' %}"/>
{% endblock %}

{% block blog_content %}


	<section class="blog-area section" style="background: linear-gradient(rgba(247,243,250,0.73), #a4b8b8)">
		<div class="container">

			<div class="row">

                {% for object in object_list %}

				<div class="col-lg-4 col-md-6">
					<div class="card h-100">
						<div class="single-post post-style-1" style="background: linear-gradient(purple, #0b7326)">

							<div class="blog-info">

								<h4 class="title" style="color: #cb860f"><a href="{% url 'blog:blog_details' object.id object.slug %}"><b>{{ object.title }}</b></a></h4>
							</div><!-- blog-info -->
						</div><!-- single-post -->
					</div><!-- card -->
				</div><!-- col-lg-4 col-md-6 -->

                {% endfor %}



			</div><!-- row -->

        <!-- 9. EXTRA SMALL BLOG -->

            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}" style="color: #13b521">Previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ page_obj.number }} of {{ paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}" style="color: #662ab5">Next</a>
                    {% endif %}
                </span>
            </div>

		</div><!-- container -->
	</section><!-- section -->

{% endblock %}